html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Open Sans;
}

body.flatpage {
  min-height: 45rem;
}

html.busy, html.busy * {  
  cursor: wait;
}

.flatpage-title,
.navbar-brand,
h1,
h2,
h3,
h4,
h5 
{
  font-family: Georgia,Times,Times New Roman,serif; 
  font-weight: 700;
}

h6 {
    font-weight: 700;
}

a {
    color: #0072ce;
}

#skippy {
    background-color: #253462;
    color: white;
    display: block;
    padding: 1em;
    z-index: 1000;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

.custom-sr-only {
    /* position: absolute; << Safari doesn't like this */
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Navbar */
.navbar {
    padding: 0;
    padding-left: 10px;
}

nav a, nav a:visited {
    color: white;
}

nav a:active, nav a:focus, nav a:hover {
    color: lightgray;
    text-decoration: none;
}

.navbar-custom-theme {
    background-color: #253462;
}

.navbar-custom-theme .nav-item .nav-link {
    color: white;
}

.navbar-custom-theme .nav-item.active {
    text-decoration: underline;
}

.navbar-custom-theme .nav-item .nav-link {
    color: white;
}

a.navbar-brand {
    font-size: 1rem;
}

nav a {
    font-weight: 500;
}

.btn-link {
    color: #0072ce;
}

/* Dark Blue Button */
.btn-ahe {
    background-color: #253462;
    border-color: #253462;
    color: white;
}

.btn-ahe:active, .btn-ahe:focus, .btn-ahe:hover {
    background-color: #253462;
    border-color: #253462;
    color: lightgray;
}


/* Golden brown button */
.btn-secondary {
    background-color: #a65b31;
    border-color: #a65b31;
}

.btn-secondary.disabled, .btn-secondary:disabled,
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #a66531;
    border-color: #a66531;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    opacity: .55;
}

/* Flatpages */
.flatpage nav {
    width: 98%;
}

.flatpage h1 {
    font-size: 2.5rem;
}

.flatpage-title .maincontent-address {
    font-size: 1.75rem;
    font-family: Open Sans;
    font-weight: normal;
    display: none;
}

.flatpage-title .about-link {
    font-family: Open Sans;
    font-size: 1rem;
}

.flatpage .skewed-background {
    display: none;
}

.flatpage-title {
    min-height: 15rem;
    background-color: #253462;
    color: white;
    font-size: 1.25rem;
}

.flatpage-title .flatpage-title-bg {
    display: none;
}

/** Footer **/

footer {
    font-size: 85%;
    bottom: 0px;
    z-index: 2;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #253462;
    height: 200px;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer img {
    width: 225px;
    margin-top: 20px;
    margin-left: 20px;
}

.map-view footer {
    display: none;
}

.browse-view footer {
    position: static !important;
    bottom: auto !important;
    background-color: #253462 !important;
    width: 100% !important;
}

.browse-view button[type="reset"] {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.browse-view table thead {
    background-color: #0072ce;
    color: white;
}

.browse-view .search-criteria-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    z-index: 1050;
    width: 290px;
}

.browse-view .search-criteria-label i {
    display: none;
}

.browse-view .search-criteria span.undergraduate-populations,
.browse-view .search-criteria span.states,
.browse-view .search-criteria span.search-bar {
    width: 180px;
}

/* Map View */
.map-space {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.map-space .selected-site-title {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Georgia,Times,Times New Roman,serif;
}

.map-space .site-list-item {
    font-weight: 700;
    font-size: 1rem;
}

.map-space a {
    font-family: Open Sans !important;
}

.map-view .google-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
}

.search-bar {
    border: 1px solid #ddd;
    width: 210px;
    margin-bottom: 1rem;
    margin-top: -8px;
}

.search-bar .input-group>.form-control {
    border: none;
}

.search-bar .btn:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.map-view .pin-place-detail .list-group {
    border: 0;
}

.map-view .pin-place-detail .list-group-item {
    border-left: 0;
    border-right: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

.advanced-filters {
    position: absolute;
    left: 2vw;
    right: 2vw;
    top: 0.625rem;
    width: 19rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    z-index: 1050;
}

.advanced-filters i.text-muted {
    display: none;
}

.search-criteria i {
    width: 22px;
}

span.undergraduate-populations {
    width: 210px;
    margin-top: -6px;
}

span.states {
    width: 210px;
    margin-top: -6px;
}

.advanced-filters .input-group-append .btn {
    z-index: 0;
}

.map-view .pin-place-detail {
    position: absolute;
    width: 19rem;
    bottom: 0;
    left: 2vw;
    right: 2vw; 
    background-color: #fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    z-index: 1;
    font-size: .9rem;
    margin-bottom: 3rem;
}

.map-view .search-results-header {
    background-color: #0072ce;
    height: 30px;
    font-size: 1rem;
    text-align: center;
}

.map-view .search-results-header .btn-left {
    border-right: 1px solid white;
}

.map-view .search-results {
    font-size: .8em;
    padding: 0;
}

.map-view .search-results h1,
.map-view .search-results h2,
.map-view .search-results h3,
.map-view .search-results h4,
.map-view .search-results h5,
.map-view .search-results h6 {
    font-family: Open Sans !important;
}

.map-view .search-results .list-group {
    overflow-y: auto;
}

.map-view .pin-place-detail .list-group .list-group-item:first-child {
    border-top: 0;
}

.pin-place-header .close {
    padding: 0.5rem;
    margin: -0.8rem -0.5rem 0 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.pin-place-optional,
.pin-place-thumbnail {
    display: none;
}

.pin-place-thumbnail img {
    width: 100%;
    height: auto;
}

.advanced-filter-toggle {
    display: block;
    cursor: pointer;
}

.advanced-filter-toggle .hide-filters {
    display: block;
}

.advanced-filter-toggle .show-filters {
    display: none;
}

.advanced-filter-toggle.collapsed .hide-filters {
    display: none;
}

.advanced-filter-toggle.collapsed .show-filters {
    display: block;
}

/* Detail Pages */
.detail-page-content {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    overflow-x: hidden;
}

.detail-page-content h2 {
    font-size: 1.5rem;
    font-family: Georgia,Times,Times New Roman,serif;
    font-weight: 700;
}

.detail-page-content h3 {
    font-size: 1.15rem;
}

.detail-page-content h4 {
    font-size: 1rem;
}

.detail-page-content .main-image {
    width: 100%;
    background-color: #efefef;
}

.detail-page-content .main-image img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.detail-page-content .has-feature {
    color: #6fb16a;
}

.detail-page-content .does-not-have-feature {
    color: #e44a60;
}

.detail-page-content table.for-veterans th {
    background-color: #dee2e6;
    padding: .25rem;
}

.detail-page-content .checked {
    width: 30px;
}

.detail-page-content table.accepted-credits th {
    border-top: 0;
}

.detail-page-content .google-mini-map {
    width: 100%;
    height: 300px;
}

/* Social Icons */
.social-icons {
    margin-bottom: 2rem;
    width: 100%;
    z-index: 2;
    color: #253462;
}

.social-icons ul {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.social-icons ul>li {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

.social-icons ul>li>a:visited, .social-icons ul>li>a {
    display: block;
    color: white !important;
    background-color: #253462;
    border-radius: 100%;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}

.social-icons .edx img {
    width: 42px;
    margin-top: -7px;
}

/** Browse **/
.page-number {
    width: 50px;
    display: inline;
    text-align: right;
}

/*-------------RESPONSIVE CSS -----------------------------------------------*/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

@media (min-width: 375px) {
    .browse-view .search-criteria-container {
        width: 345px;
    }
}

@media (min-width: 400px) {
    .browse-view .search-criteria-label i {
        display: inline;
    }
}

/* Small devices (sm - landscape phones, 576px and up) */
@media (min-width: 576px) {
    a.navbar-brand {
        font-size: 1.18rem;
    }
    .advanced-filters {
        border-top: 1px solid #ddd;
        width: 24rem;
        top: 0.625rem;
        left: 0.625rem;
        right: 0;
        bottom: auto;
    }
    .advanced-filters i.text-muted {
        display: inline;
    }
    .map-view .pin-place-detail {
        width: 24rem;
        top: 21.25rem;
        left: 0.625rem;
        right: 0;
        bottom: auto;
        font-size: 1rem;
    }
    .pin-place-thumbnail {
        width: 100%;
        background-color: #efefef;
        display: block;
    }
    .pin-place-optional {
        display: block;
    }
    span.undergraduate-populations {
        width: 225px;
    }
    span.states {
        width: 225px;
    }
    .search-bar {
        width: 225px;
    }
    .search-criteria {
        display: block !important;
    }
    .advanced-filter-toggle {
        display: none;
    }
    .quick-info-website {
        text-align: center;
    }
    .quick-info-admissions {
        text-align: right;
    }
}

/* Medium devices (md - tablets, 768px and up) */
@media (min-width: 768px) {
    .social-icons {
        margin: 0;
        position: absolute;
        right: 2.5rem;
        bottom: 2rem;
        width: auto;
    }
    .social-icons ul {
        margin-top: 0;
        width: auto;
    }
    .social-icons ul>li {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .social-icons ul>li:last-child {
        margin-bottom: 0;
    }
    .social-icons ul>li>a {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
    }
    .social-icons ul>li>a:hover {
        background-color: #002E66;
    }

    .browse-view .search-criteria span.undergraduate-populations,
    .browse-view .search-criteria span.states,
    .browse-view .search-criteria span.search-bar {
        width: 200px;
    }
}

/* Large devices (lg - desktops, 992px and up) */
@media (min-width: 992px) {
    .detail-page-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .main-image {
        border-radius: 5px;
        margin-top: 2rem;
    }
    .flatpage-container {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    .flatpage-content,
    .flatpage-title {
        height: 100%;
        background-color: inherit;
    }
    .flatpage-title .skewed-background {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        min-height: 35rem;
        height: 100%;
        background-color: #253462;
        min-height: 0;
        -webkit-transform: skewX(-8deg);
        transform: skewX(-8deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
    .flatpage-title .maincontent-address {
        display: block;
    }
    .at-a-glance-address {
        display: none;
    }
    footer {
        position: absolute;
        background-color: inherit;
        width: 400px;
        height: auto !important;
    }
}

@media (min-width: 1024) {
    .flatpage-container h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .flatpage-container h1 {
        font-size: 3.5rem;
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none !important;
    }
    footer {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 1in;
        background-color: #253462;
        height: 7rem;
    }
    .footer-link::after {
        content:" (" attr(href) ")";
        white-space: pre;
        font-weight: normal;
    }
    footer .footer-logo img {
        height: 40px;
    }
    .map-view .map-space {
        position: relative;
    }
    form {
        text-align: center;
    }
    .advanced-filters {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .map-view .pin-place-detail,
    .advanced-filters {
        position: relative;
        top: 0;
        left: 0;
    }
    .map-view .pin-place-detail {
        width: 100%;
        height: auto;
    }
    .map-view .pin-place-detail .list-group .list-group-item:first-child {
        border-top: 1px solid rgba(0,0,0,.125);
        margin-top: 20px;
    }
    .map-view .search-results .list-group {
        overflow-y: visible;
        height: 100% !important;
    }
    .print-header {
        background-color: #253462;
        color: white;
        padding: 10px;
    }
    .print-header h5 a {
        font-family: Georgia,Times,Times New Roman,serif !important;
    }
}


/* Larger Switch */
/* https://stackoverflow.com/questions/60406849/
   how-to-style-switch-for-different-classes-in-bootstrap-4 */
.custom-switch.custom-switch-md {
    margin-top: -4px;
}

.custom-switch.custom-switch-md .custom-control-label {
    padding-left: .5rem;
    padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}