{% extends 'base.html' %}
{% load compress %}

{% block title %}Home{% endblock %}
{% block mainclass %}container-fluid px-0 map-space{% endblock %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/coming-soon.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="overlay"></div>
    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
            <div class="row h-75">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-md-0">
                        <h1 class="mb-3" id="maincontent">
                            Attaining<br />Higher<br />Education
                        </h1>
                        <p class="mb-5">This interactive map is for selecting
                        and narrowing colleges of interest with criteria
                        important to service members and veterans. Start your
                        search for a right-fit college or university.</p>
                        <div class="row d-print-none">
                            <div class="col-md-6 order-md-2">
                            <a class="btn btn-secondary btn-lg mb-2 w-100"
                                    href="{% url 'map-view' %}" role="button">Search Schools</a>
                            </div>
                            <div class="col-md-6 order-md-1">
                            <a class="btn btn-light btn-lg w-100"
                                href="/about/"
                                title="Learn more about the Attaining Higher Education map">
                                About the map</a>
                            </div>
                        </div>
                        <h2 class="d-none d-print-block">
                            https://ahemap.veterans.columbia.edu
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons d-print-none">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
                <a aria-hidden="true" target="_blank" rel="noopener" class="edx"
                    href="https://www.edx.org/course/attaining-higher-education"
                    title="Link to EdX Attaining Higher Education course">
                    <img src="{{STATIC_URL}}img/edx.png" alt="EdX logo">
                </a>
            </li>
            <li class="list-unstyled-item">
                <a aria-hidden="true" target="_blank" rel="noopener"
                    href="https://twitter.com/columbia_cvti" title="Link to Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>

    {% include 'main/footer.html' %}
{% endblock %}
