{% extends 'base.html' %}
{% load compress %}

{% block title %}Home{% endblock %}
{% block mainclass %}container-fluid px-0 map-space{% endblock %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/coming-soon.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" aria-hidden="true">
        <source src="{{STATIC_URL}}mp4/bg.mp4" type="video/mp4">
    </video>

    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
            <div class="row h-75">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-md-0">
                        <h1 class="mb-3" id="maincontent">
                            Attaining<br />Higher<br />Education
                        </h1>
                        <p class="mb-5"></p>
                        <a class="btn btn-secondary btn-lg"
                            href="{% url 'map-view' %}" role="button">Find Schools</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
                <a aria-hidden="true" target="about: blank" class="edx" href="https://bit.ly/FYCMOOC" title="Link to EdX">
                    <img src="{{STATIC_URL}}img/edx.png" alt="EdX logo">
                </a>
            </li>
            <li class="list-unstyled-item">
                <a aria-hidden="true" target="about:blank" href="https://twitter.com/columbia_cvti" title="Link to Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>

    <footer>
        <a class="logo float-left mt-3 mr-5" href="https://veterans.columbia.edu" target="_blank"><img src="{{STATIC_URL}}img/cvti-logo-wht.svg" alt="CVTI logo"></a>
        <a class="logo float-left mt-3" href="https://ctl.columbia.edu" target="_blank"><img src="{{STATIC_URL}}img/logo-footer-ctl.svg" alt="CTL logo"></a></li>
    </footer>

{% endblock %}
