{% extends 'base.html' %}

{% load humanize %}

{% block title %}Browse{% endblock %}
{% block bodyclass %}browse-view bg-light{% endblock %}
{% block bodyid %}browseView{% endblock %}
{% block mainclass %}container-fluid browse-space{% endblock %}
{% block navclass %}fixed-top{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://ahemap.veterans.columbia.edu/browse/" />
{% endblock %}

{% block printtitle %}
    Browse Schools
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/vue-multiselect/vue-multiselect.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/vue-multiselect/custom.css" />
{% endblock %}

{% block content %}
<form id="browse-container" method="get" action=".">
    <div class="my-3 row">
        <div class="col-12 col-md-auto">
            <div class="search-criteria-container mb-5">
                <div class="bg-light p-2"><strong>Search Schools</strong></div>
                <div class="search-criteria pt-3 px-3 pb-4">
                    <span class="search-criteria-label">
                        <i class="fa fa-calendar text-muted" aria-hidden="true"></i> Program
                    </span>
                    <span class="ml-1 float-right">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                id="two-year-program" name="twoyear" value="true"
                                {% if twoyear == "true" %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="two-year-program">2-year</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                id="four-year-program" name="fouryear" value="true"
                                {% if fouryear == "true" %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="four-year-program">4-year</label>
                        </span>
                    </span>
                </div>
                <div class="search-criteria px-3 pb-4">
                    <span class="search-criteria-label">
                        <i class="fa fa-random text-muted" aria-hidden="true"></i> Type
                    </span>
                    <span class="ml-1 float-right">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                id="type-public" name="public" value="true"
                                {% if public == "true" %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="type-public">Public</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                id="type-private" name="private" value="true"
                                {% if private == "true" %}checked="checked"{% endif %}>
                            <label class="form-check-label" for="type-private">Private</label>
                        </span>
                    </span>
                </div>
                <div class="search-criteria px-3 pb-4">
                    <span class="search-criteria-label">
                        <i aria-hidden="true" class="fas fa-users text-muted"></i>
                        <label for="populations">Size</label>
                    </span>
                    <span class="undergraduate-populations float-right">
                        <input type="hidden" name="population"
                            {% if population %}value="{{population}}"{% else %}value=""{% endif %} />
                        <multiselect v-model="population"
                            id="populations" name="populations"
                            :options="populations" :allow-empty="true"
                            label="name" placeholder="Undergraduate population"
                            :searchable="false"
                            deselect-label="clear"
                            select-label="" selected-label="" track-by="id">

                            <template slot="option" slot-scope="props">
                                <div class="option__desc">
                                    <div class="option__title">{% templatetag openvariable %}props.option.name{% templatetag closevariable %}</div>
                                    <div class="option__small small mt-1">{% templatetag openvariable %}props.option.range{% templatetag closevariable %} undergraduates</div></div>
                            </template>
                        </multiselect>
                    </span>
                </div>
                <div class="search-criteria px-3 pb-4">
                    <span class="search-criteria-label">
                        <i aria-hidden="true" class="fas fa-map-marked-alt text-muted"></i>
                        <label for="states">State</label>
                    </span>
                    <span class="states float-right">
                        <input type="hidden" name="state"
                            {% if state %}value="{{state}}"{% else %}value=""{% endif %} />
                        <multiselect v-model="state" id="states"
                            :options="states" name="states"
                            label="name" placeholder="Type or choose state"
                            :searchable="true"
                            :allow-empty="true" deselect-label="clear"
                            select-label="" selected-label="" track-by="id">
                        </multiselect>
                    </span>
                </div>
                <div class="search-criteria px-3">
                    <span class="search-criteria-label">
                        <i class="fas fa-landmark text-muted"></i>
                        <label for="search-term">Name</label>
                    </span>
                    <span class="search-bar float-right">
                        <div class="input-group">
                            <input id="search-term" type="text" name="q"
                                class="form-control form-control w-25"
                                aria-label="Narrow by name"
                                {% if query %}value="{{query}}"{% endif %}>
                        </div>
                    </span>
                </div>
                <div class="search-criteria px-3 clearfix">
                    <div class="float-left">
                        <i class="fa fa-graduation-cap text-muted" aria-hidden="true"></i> Yellow-Ribbon Grant
                    </div>
                    <div class="float-right">
                        <div class="custom-control custom-switch custom-switch-md">
                            <input name="yellowribbon" type="checkbox" value="true"
                                {% if yellowribbon == "true" %}checked="checked"{% endif %}
                                class="custom-control-input" id="yellow-ribbon-grant">
                            <label aria-hidden="true" class="custom-control-label" for="yellow-ribbon-grant"></label>
                        </div>
                    </div>
                </div>
                <div class="p-3 text-right">
                    <button type="reset" name="reset" class="btn btn-light" @click="clearSearch">
                        Clear
                    </button>
                    <button type="submit" name="search" class="btn btn-secondary">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="mb-5 pagination-container">
                {% with instance="1" %}
                {% include 'main/pagination.html' %}
                {% endwith %}
            </div>
            {% for object in object_list %}
            <div class="card mb-3 w-100">
              <div class="row no-gutters">
                <div class="col-md-2">
                    <img class="card-img" src="{{object.image}}" alt="{{object.title}} image" />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'institution-detail-view' object.id %}">{{object}}</a></h5>
                    <p class="card-text">
                        {% if object.accredited %}
                            Accredited {% if object.private %}private{% else %}public{% endif %} institution
                        {% else %}
                            {% if object.private %}Private{% else %}Public{% endif %} institution
                        {% endif %}

                        in {{object.city}}, {{object.state}}, 

                        {% if object.two_year_program and object.four_year_program %}
                                offering two-year &amp; four-year programs.
                            {% else %}{% if object.two_year_program %}
                                offering two-year programs.
                            {% else %}{% if object.four_year_program %}
                                offering four-year programs.
                            {% endif %}{% endif %}{% endif %}

                        This school has a 
                        {% if object.undergraduate_population < 2000 %}
                            small population with {{object.undergraduate_population|intcomma}} undergraduates.
                        {% else %}{% if object.undergraduate_population >= 2000 and object.undergraduate_population <= 10000 %}
                            medium population with {{object.undergraduate_population|intcomma}} undergraduates.
                        {% else %}{% if object.undergraduate_population > 10000 %}
                            large population with {{object.undergraduate_population|intcomma}} undergraduates.
                        {% endif %}{% endif %}{% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
                <h3 class="text-center">No Schools Found</h3>
            {% endfor %}
            <div class="mt-3 mb-5 pagination-container">
                {% with instance="2" %}
                {% include 'main/pagination.html' %}
                {% endwith %}
            </div>
        </div>
    </div>

</form>
{% endblock %}

{% block js %}
    <script data-main="{{STATIC_URL}}js/src/browse.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}
