{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
    <div id="content-main">
        <h1>Import Institutions</h1>

        {% if form.errors.keys|length %}
            <div style="text-align: left; color: #dc3545; border: 1px solid #dc3545; padding: 5px; margin-bottom: 10px;">
                <div style="padding-bottom: 5px; font-weight: bold">
                    The import file contains errors.
                </div>
                {% for error_field, error_message in form.errors.items %}
                    <div>
                        {{ error_message|striptags }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <form name="import_csv" action="." enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                <div class="form-row field-csvfile">
                    <div>
                        <label class="required" for="id_name">Browse:</label>
                        <input type="file" name="csvfile" /><span class="csv-file-name"></span>
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Submit" class="default" name="submit" style="float: left">
            </div>
        </div>
        </form>
    </div>
{% endblock %}
