{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <form action='.' method='GET' name="search" id="maincontent">
            <h1 class="sr-only sr-only-focusable">Search Schools</h1>
            <div class="advanced-filters">
                <div class="search-criteria collapse show">
                    <i class="fa fa-calendar text-muted" aria-hidden="true"></i> Program Length
                    <span class="float-right">
                        <span class="form-check form-check-inline">
                            <input v-model="twoYear" class="form-check-input" type="checkbox"
                                id="two-year-program" name="twoYear" value="2">
                            <label class="form-check-label" for="two-year-program">2-year</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input v-model="fourYear" class="form-check-input" type="checkbox"
                                id="four-year-program" name="fourYear" value="4">
                            <label class="form-check-label" for="four-year-program">4-year</label>
                        </span>
                    </span>
                </div>

                <div class="search-criteria collapse show">
                    <i aria-hidden="true" class="fas fa-graduation-cap text-muted"></i>
                    <label for="graduation-rates">Graduation Rates</label>
                    <span class="graduation-rates float-right">
                        <multiselect v-model="graduationRate"
                            id="graduation-rates" name="graduation-rates"
                            :options="graduationRates" :allow-empty="true"
                            label="name" placeholder="Select threshhold"
                            :searchable="false" selectLabel=""
                            deselectLabel="clear"
                            selectedLabel="" track-by="id">
                        </multiselect>
                    </span>
                </div>

                <div class="search-criteria collapse show">
                    <i aria-hidden="true" class="fas fa-map-marked-alt text-muted"></i>
                    <label for="states">State</label>
                    <span class="states float-right">
                        <multiselect v-model="state" name="state" id="states"
                            :options="states"
                            label="name" placeholder="Type or choose state"
                            :searchable="true" selectLabel=""
                            :allow-empty="true" deselectLabel="clear"
                            selectedLabel="" track-by="id">
                        </multiselect>
                    </span>
                </div>

                <div class="search-criteria collapse show">
                    <i class="fas fa-landmark text-muted "></i>
                    <label for="search-term">School</label>
                    <div class="search-bar float-right">
                        <div class="input-group">
                            <input id="search-term" type="text" name="q"
                                v-model="searchTerm"
                                class="form-control form-control w-25"
                                placeholder="Narrow by school name"
                                aria-label="Narrow by school name"
                                v-on:keydown.enter.prevent="search">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button"
                                    aria-label="Search" role="button"
                                    v-on:click="search"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advanced-filter-toggle small bg-light px-2 py-1 text-black"
                    data-toggle="collapse" href="#collapseExample" role="button"
                    data-target=".search-criteria"
                    aria-expanded="true" aria-controls=".search-criteria">
                    <span class="hide-filters">
                        <i class="fas fa-angle-up"></i> Hide Search Options
                    </span>
                    <span class="show-filters">
                        <i class="fas fa-angle-down"></i> Show Search Options
                    </span>
                </div>
            </div>
        </form>
        <div v-if="selectedSite" class="pin-place-detail">
            <div class="search-results-header">
                <button v-if="searchResults && searchResults.length > 1"
                    class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    v-on:click.prevent="searchList">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to results
                </button>
                <button v-else class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click="clearSelectedSite" title="Close">
                    <i class="fas fa-times"></i> Close
                </button>
                <button v-if="selectedSite || searchResults"
                    class="btn btn-sm btn-link float-right text-white w-50"
                    title="Save Search">
                    <i class="fas fa-download"></i> Save
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="p-3">
                <h5>{{selectedSite.title}}</h5>
                <div v-if="selectedSite.image" class="pin-place-thumbnail clearfix">
                    <img :src="selectedSite.image" title="Selected school thumbnail"
                        class="thumbnail-bg" />
                </div>
                <div class="clearfix mt-2 pin-place-optional">
                    <div v-if="selectedSite.website_url" class="float-left">
                        <a :href="selectedSite.website_url"
                            title="Selected school website link"
                            target="about:blank">
                            <i class="fas fa-link"></i> Website
                        </a>
                    </div>
                    <div v-if="selectedSite.website_url" class="float-right">
                        <a :href="selectedSite.admissions_url"
                            title="Selected school veterans admissions link"
                            target="about:blank">
                            <i class="fas fa-link"></i> Veterans Admissions
                        </a>
                    </div>
                </div>
                <div class="mt-2 pin-place-optional">
                    {{selectedSite.address}}
                </div>
                <div>
                    {{selectedSite.city}}, {{selectedSite.state}}
                </div>
                <div class="pin-place-optional">
                    <div v-if="selectedSite.private">Private institution</div>
                    <div v-else>Public institution</div>
                </div>
                <div class="mt-2">
                    <a :href="'/i/' + selectedSite.id + '/'"
                        class="w-100 btn btn-sm btn-secondary">
                        Additional Details
                    </a>
                </div>
            </div>
        </div>
        <div v-else-if="searchResults" class="pin-place-detail search-results">
            <div class="search-results-header">
                <button v-if="selectedSite || searchResults"
                    class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click="clearCriteria" title="Clear Search">
                    <i class="fas fa-times"></i> Clear Search
                </button>
                <button v-if="selectedSite || (searchResults && searchResults.length > 1)"
                    class="btn btn-sm btn-link float-right text-white w-50"
                    title="Save Search">
                    <i class="fas fa-download"></i> Save
                </button>
            </div>
            <div class="clearfix"></div>
            <div v-if="searchResults.length === 0">
                <h5 class="pt-3 pr-3 pl-3 pb-2 text-center">No Schools Found</h5>
            </div>
            <div v-else>
                <ul class="list-group" :style="'height:' + searchResultHeight + 'px;'">
                    <li v-for="site in searchResults" class="list-group-item">
                        <div class="result-icon float-left mr-1">
                            <img :src="site.iconUrl" :alt="site.title"/>
                        </div>
                        <div class="result-content float-left">
                            <h6 class="mb-1">
                                <a href="#" v-on:click="searchDetail(site.id)">{{site.title}}</a>
                            </h6>
                            <div>{{site.city}}, {{site.state}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul style="display: none"><li v-for="site in sites">{{site.id}}</li></ul>
        <div class="google-map" :id="mapName"></div>
    </div>
</script>
{% endverbatim %}