{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <form action='.' method='GET' name="search" v-if="sites.length > 0">
            <h1 class="sr-only sr-only-focusable">Search Schools</h1>
            <div class="advanced-filters d-print-inline-block">
                <div class="search-criteria collapse show pt-3 px-3 pb-4">
                    <i class="fa fa-calendar text-muted" aria-hidden="true"></i> Program
                    <span class="float-right">
                        <span class="form-check form-check-inline">
                            <input v-model="twoYear" class="form-check-input" type="checkbox"
                                id="two-year-program" name="twoYear" value="2">
                            <label class="form-check-label" for="two-year-program">2-year</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input v-model="fourYear" class="form-check-input" type="checkbox"
                                id="four-year-program" name="fourYear" value="4">
                            <label class="form-check-label" for="four-year-program">4-year</label>
                        </span>
                    </span>
                </div>
                <div class="search-criteria collapse show px-3 pb-4">
                    <i class="fa fa-random text-muted" aria-hidden="true"></i> Type
                    <span class="float-right">
                        <span class="form-check form-check-inline">
                            <input v-model="schoolPublic" class="form-check-input" type="checkbox"
                                id="type-public" name="public" value="Public">
                            <label class="form-check-label" for="type-public">Public</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input v-model="schoolPrivate" class="form-check-input" type="checkbox"
                                id="type-private" name="private" value="Private">
                            <label class="form-check-label" for="type-private">Private</label>
                        </span>
                    </span>
                </div>
                <div class="clearfix search-criteria collapse show px-3 pb-4">
                    <i aria-hidden="true" class="fas fa-users text-muted"></i>
                    <label for="populations">Size</label>
                    <span class="undergraduate-populations float-right">
                        <multiselect v-model="population"
                            id="populations" name="populations"
                            :options="populations" :allow-empty="true"
                            label="name" placeholder="Undergraduate population"
                            :searchable="false" selectLabel=""
                            deselectLabel="clear"
                            selectedLabel="" track-by="id">

                            <template slot="option" slot-scope="props">
                                <div class="option__desc">
                                    <div class="option__title">{{ props.option.name }}</div>
                                    <div class="option__small small mt-1">{{ props.option.range }} undergraduates</div></div>
                            </template>
                        </multiselect>
                    </span>
                </div>
                <div class="search-criteria collapse show px-3 pb-4">
                    <i aria-hidden="true" class="fas fa-map-marked-alt text-muted"></i>
                    <label for="states">State</label>
                    <span class="states float-right">
                        <multiselect v-model="state" name="state" id="states"
                            :options="states"
                            label="name" placeholder="Type or choose state"
                            :searchable="true" selectLabel=""
                            :allow-empty="true" deselectLabel="clear"
                            selectedLabel="" track-by="id">
                        </multiselect>
                    </span>
                </div>
                <div class="search-criteria collapse show px-3 pb-4">
                    <i class="fas fa-landmark text-muted"></i>
                    <label for="search-term">Name</label>
                    <div class="search-bar float-right">
                        <div class="input-group">
                            <input id="search-term" type="text" name="q"
                                v-model="searchTerm"
                                class="form-control form-control w-25"
                                aria-label="Narrow by name"
                                @keydown.enter.prevent="onChangeCriteria">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button"
                                    aria-label="Search" role="button"
                                    @click="onChangeCriteria">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-criteria collapse show px-3 pb-3 clearfix">
                    <div class="float-left">
                        <i class="fa fa-graduation-cap text-muted" aria-hidden="true"></i> Yellow-Ribbon Grant
                    </div>
                    <div class="float-right">
                        <div class="custom-control custom-switch custom-switch-md">
                            <input v-model="yellowRibbon" name="yellowribbon" type="checkbox"
                                class="custom-control-input" id="yellow-ribbon-grant">
                            <label aria-hidden="true" class="custom-control-label" for="yellow-ribbon-grant"></label>
                        </div>
                    </div>
                </div>
                <div class="advanced-filter-toggle small bg-light px-2 py-1 text-black"
                    data-toggle="collapse" href="#collapseExample" role="button"
                    data-target=".search-criteria"
                    aria-expanded="true" aria-controls=".search-criteria">
                    <span class="hide-filters">
                        <i class="fas fa-angle-up"></i> Hide Search Options
                    </span>
                    <span class="show-filters">
                        <i class="fas fa-angle-down"></i> Show Search Options
                    </span>
                </div>
            </div>
        </form>
        <div v-if="selectedSite" class="pin-place-detail">
            <div class="search-results-header d-print-none">
                <button v-if="searchResults && searchResults.length > 1"
                    class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click.prevent="onBackToSearchList">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to results
                </button>
                <button v-if="searchResults && searchResults.length === 1"
                    class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click="onClear" title="Clear Search">
                    <i class="fas fa-times"></i> Clear Search
                </button>
                <button v-if="!searchResults" class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click="onClearSelectedSite" title="Close">
                    <i class="fas fa-times"></i> Close
                </button>
                <form action="/save/">
                    <input name="siteid" :value="selectedSite.id" type="hidden" />
                    <input name="twoyear" :value="twoYear" type="hidden" />
                    <input name="fouryear" :value="fourYear" type="hidden" />
                    <input name="public" :value="schoolPublic ? 'true' : ''" type="hidden" />
                    <input name="private" :value="schoolPrivate ? 'true' : ''" type="hidden" />
                    <input name="state" :value="state ? state.id : ''" type="hidden" />
                    <input name="population" :value="population ? population.id : ''" type="hidden" />
                    <input name="q" :value="searchTerm" type="hidden" />
                    <input name="yellowribbon" :value="yellowRibbon" type="hidden" />
                    <button v-if="selectedSite || searchResults"
                        class="btn btn-sm btn-link float-right text-white w-50"
                        title="Save Search Results">
                        <i class="fas fa-download"></i> Save
                    </button>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="p-3">
                <div class="selected-site-title">{{selectedSite.title}}</div>
                <div class="d-none d-print-block">https://ahemap.veterans.columbia.edu/view/{{selectedSite.id}}/</div>
                <div v-if="selectedSite.image" class="pin-place-thumbnail clearfix d-print-none">
                    <img aria-hidden="true" :src="selectedSite.image" title="Selected school thumbnail"
                        class="thumbnail-bg" />
                </div>
                <div class="clearfix mt-2 pin-place-optional">
                    <div v-if="selectedSite.website_url" class="float-left">
                        <a class="d-print-none" :href="selectedSite.website_url"
                            title="Selected school website link"
                            target="_blank" rel="noopener">
                            <i class="fas fa-link"></i> Website
                        </a>
                        <div class="d-none d-print-block"><i class="fas fa-link"></i> {{selectedSite.website_url}}</div>
                    </div>
                    <div v-if="selectedSite.admissions_url" class="float-right">
                        <a class="d-print-none" :href="selectedSite.admissions_url"
                            title="Selected school veterans admissions link"
                            target="about:blank">
                            <i class="fas fa-link"></i> Admissions
                        </a>
                        <div class="d-none d-print-block"><i class="fas fa-link"></i> {{selectedSite.website_url}}</div>
                    </div>
                </div>
                <div class="mt-2 pin-place-optional">
                    {{selectedSite.address}}
                </div>
                <div>
                    {{selectedSite.city}}, {{selectedSite.state}}
                </div>
                <div class="pin-place-optional">
                    <div v-if="selectedSite.private">Private institution</div>
                    <div v-else>Public institution</div>
                </div>
                <div class="mt-2 d-print-none">
                    <a :href="'/view/' + selectedSite.id + '/'"
                        class="w-100 btn btn-sm btn-secondary">
                        Additional Details
                    </a>
                </div>
            </div>
        </div>
        <div v-else-if="searchResults" class="pin-place-detail search-results" :style="'height:' + searchResultHeight + 'px;'">
            <div class="search-results-header d-print-none">
                <button v-if="selectedSite || searchResults"
                    class="btn btn-sm btn-link float-left text-white w-50 btn-left"
                    @click="onClear" title="Clear Search">
                    <i class="fas fa-times"></i> Clear Search
                </button>
                <form action="/save/">
                    <input name="twoyear" :value="twoYear" type="hidden" />
                    <input name="fouryear" :value="fourYear" type="hidden" />
                    <input name="public" :value="schoolPublic ? 'true' : ''" type="hidden" />
                    <input name="private" :value="schoolPrivate ? 'true' : ''" type="hidden" />
                    <input name="state" :value="state ? state.id : ''" type="hidden" />
                    <input name="population" :value="population ? population.id : ''" type="hidden" />
                    <input name="q" :value="searchTerm" type="hidden" />
                    <input name="yellowribbon" :value="yellowRibbon" type="hidden" />
                    <button v-if="selectedSite || (searchResults && searchResults.length > 1)"
                        class="btn btn-sm btn-link float-right text-white w-50"
                        title="Save Search Results">
                        <i class="fas fa-download"></i> Save
                    </button>
                </form>
            </div>
            <div class="clearfix"></div>
            <div v-if="searchResults.length === 0">
                <div class="selected-site-title pt-3 pr-3 pl-3 pb-2 text-center">No Schools Found</div>
            </div>
            <ul v-else class="list-group h-100" :style="'max-height:' + (searchResultHeight - 40) + 'px;'">
                <li v-for="site in searchResults" class="list-group-item">
                    <div class="result-content">
                        <div class="mb-1 site-list-item">
                            <button class="btn btn-link p-0 d-print-none text-left" @click="onSelectSite(site)">
                                <img aria-hidden="true" :src="site.iconUrl" :alt="site.title"/> <strong>{{site.title}}</strong>
                            </button>
                            <span class="d-none d-print-block">
                                <strong>{{site.title}}</strong>
                                <span class="font-weight-normal">(https://ahemap.veterans.columbia.edu/view/{{site.id}}/)</span>
                            </span>
                        </div>
                        <div class="d-print-none">{{site.city}}, {{site.state}}</div>
                        <div class="d-none d-print-block">{{site.address}}, {{site.city}}, {{site.state}}</div>
                        <div class="d-none d-print-block">Website: {{site.website_url}}</div>
                        <div class="d-none d-print-block">Admissions: {{site.admissions_url}}</div>
                        <div class="d-none d-print-block" v-if="site.private">Private institution</div>
                        <div class="d-none d-print-block" v-else>Public institution</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="google-map d-print-none" :id="mapName"></div>
    </div>
</script>
{% endverbatim %}