{% verbatim %}
<script type="text/x-template" id="map-template">
    <div>
        <div class="search-bar">
            <div class="input-group">
                <input type="text" v-model="searchTerm"
                    class="form-control form-control w-25"
                    placeholder="Search by name or address"
                    aria-label="Search by name or address" aria-describedby="basic-addon2"
                    v-on:keydown.enter.prevent="search">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button"
                        v-on:click="search"><i class="fa fa-search"></i>
                    </button>
                    <button v-if="searchTerm" class="btn btn-light btn-clear-search text-muted" type="button"
                        v-on:click.prevent="resetSearch">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="advanced-filters">
        </div>

        <l-map :zoom="zoom" :center="center">
            <l-tile-layer
                :url="url"
                :attribution="attribution"
            />

            <l-marker v-for="inst in institutions" :key="inst.id"
                :lat-lng="latlng(inst.lat, inst.lng)">
            </l-marker>

        </l-map>
        <ul style="display: none"><li v-for="i in institutions">{{i}}</li></ul>
    </div>
</script>
{% endverbatim %}
