{% extends 'base.html' %}
{% load compress %}

{% block title %}{{flatpage.title}}{% endblock %}
{% block bodyclass %}flatpage{% endblock %}

{% block canonical %}
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link rel="canonical" href="https://ahemap.veterans.columbia.edu{{flatpage.url}}" />
{% endblock %}

{% block body %}
<main id="maincontent" class="row no-gutters flatpage-container h-100">
    <div class="col-lg-5 flatpage-title">
        <div class="skewed-background"></div>
        {% include "main/navbar.html" %}
        <div class="row no-gutters h-50">
            <div class="col-12 my-auto">
                <div class="py-md-0 px-5">
                    <h1 class="mt-5 mr-3 mb-4">
                        {{flatpage.title}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 flatpage-content">
        <div class="detail-page-content">
            <div class="my-5 px-3">{{flatpage.content|safe}}</div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</main>
{% endblock %}
